/* work-create */
.container-work {
  width: 100%;
  height: 334px;
  max-width: 1026px;
  margin: 66px auto;
  padding: 30px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-work h1 {
  text-align: center;
}

/* member-create */
.container-member {
  width: 100%;
  height: 446px;
  max-width: 1026px;
  margin: 66px auto;
  padding: 30px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-member h1 {
  text-align: center;
}

/* select */
.container-select {
  width: 100%;
  max-width: 1026px;
  margin: 66px auto;
  padding: 30px 60px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-select-header {
  display: flex;
  justify-content: space-between;
}

/* option */
.option-form {
  border-bottom: 1px solid black;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.option-left {
  display: flex;
  align-items: center;
}

.option-right {
  margin: auto 0;
}

.container-option {
  width: 100%;
  max-width: 750px;
  margin: 32px auto;
}

.option-box {
  width: 100%;
  height: 100vh;
  max-width: 750px;
  margin-top: 32px;
  border: 1px solid black;
}


/* create-edit */
