* {
    box-sizing: border-box;
    font-family: "Inter";
  }

  .select {
    padding:  39px 53px 64px 53px;
  }

  .btn-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .b-conf {
    margin-left: 12px;
  }

  .button {
    margin-top: 40px;
  }
