* {
    box-sizing: border-box;
    font-family: "Inter";
  }

  .select {
    padding:  39px 53px 64px 53px;
  }

  .btn-list {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .b-conf {
    margin-left: 12px;
  }

.btn-names{
  max-height: 300px;
  overflow: scroll;
}

