@charset "UTF-8";
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: calc(100vh - 70px);
}

.main {
  background-color: #EEFAF6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar {
  width: 100%;
  max-width: 198px;
  background: #B2C3FF;
}

header {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 48px;
  background: #B2C3FF;
  font-size: 36px;
  text-align: center;
  line-height: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 70px;
}

.sidebar ul a {
  display: block;
  line-height: 70px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #B2C3FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidebar ul a:hover {
  text-decoration: none;
  background: #7993D6;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidebar ul p {
  display: block;
  line-height: 70px;
  font-size: 24px;
  color: #7993D6;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #EEFAF6;
}
.sidebar ul li {
  height: 70px;
}
.sidebar ul li.is-active {
  background: #EEFAF6;
}

/* date-form */
.date-form label {
  position: relative;
  width: 100%;
  max-width: 415px;
  margin-bottom: 0px !important;
}

input[type=date] {
  padding: 0 10px;
  width: 100%;
  max-width: 313px;
  height: 41px;
  border: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 35px;
}
input[type=date]:focus {
  outline: 0;
}

.date-form label::before {
  position: absolute;
  content: "";
  top: -3px;
  right: 57px;
  width: 50px;
  height: 50px;
  background-color: #06c;
  background-image: url("../image/icon_calendar.png");
  background-repeat: no-repeat;
  /* 画像の繰り返しを指定  */
  background-position: center center;
  /* 画像の表示位置を指定  */
  background-size: contain;
  /* 画像のサイズを指定    */
  border-radius: 10px;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 57px;
  top: -3px;
  padding: 0;
  width: 50px;
  height: 50px;
  /* background: rgba(255, 0, 0, 0.5); // 一旦背景色を付けて、見やすくします */
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.date-form {
  height: 125px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid black;
}

.icon-left a, .icon-right a {
  color: #06c;
}
.icon-left a:hover, .icon-right a:hover {
  color: #337ab7;
}

/* モーダル ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /* padding: 40px 20px; */
  overflow: auto;
  /* opacity: 0; */
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 66px;
}
.modal-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  /* height: 100%; */
}
.modal-container.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 1026px;
  height: 334px;
  /* margin: 66px auto; */
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

/*モーダル内のコンテンツの指定*/
.modal-content {
  background: #fff;
  padding: 30px 60px;
  border: 1px solid black;
  border-radius: 10px;
  height: 334px;
}

.add_products {
  overflow-y: scroll;
  height: 257px;
}

/* サブ ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.blue-button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.blue-button:hover {
  color: #fff;
  background-color: #16437E;
  text-decoration: none;
}

.red-button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e74c3c;
  border: 0;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.red-button:hover {
  color: #fff;
  background-color: #ff5341;
}

.gray-button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4c586f;
  border: 0;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.gray-button:hover {
  color: #fff;
  opacity: 0.8;
}

.login-button {
  position: absolute;
  top: -21px;
  right: -236px;
}

.logout-button {
  position: absolute;
  top: -5px;
  right: 0;
}

.list-button, .top-button {
  position: absolute;
  top: -5px;
  right: 130px;
}

/* 共通ボタン ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.button {
  width: 200px;
  height: 60px;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  font-size: 24px;
  line-height: 60px;
  border-radius: 20px;
}
.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.work {
  color: #fff;
  background-color: #99E16D;
}
.work a {
  color: #fff;
}
.work:hover {
  background-color: #55B01D;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 3px;
  cursor: pointer;
}
.work:checked {
  background-color: #fff;
  color: #55B01D;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #55B01D;
}
.work:checked a {
  color: #55B01D;
}
.work:checked:hover {
  background-color: #55B01D;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  padding-top: 0;
  border: 3px solid #fff;
}
.work:checked:hover a {
  color: #fff;
}

.member {
  color: #fff;
  background-color: #839EFF;
}
.member a {
  color: #fff;
}
.member:checked {
  background-color: #fff;
  color: #4164DF;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #4164DF;
}
.member:checked a {
  color: #4164DF;
}
.member:checked:hover {
  background-color: #4164DF;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  padding-top: 0;
  border: 3px solid #fff;
}
.member:checked:hover a {
  color: #fff;
}
.member:hover {
  background-color: #4164DF;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 3px;
  cursor: pointer;
}

.off {
  color: #fff;
  background-color: #979797;
}
.off a {
  color: #fff;
}
.off:hover {
  background-color: #C9C9C9;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 3px;
  cursor: pointer;
}
.off:checked {
  background-color: #fff;
  color: #979797;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #979797;
}
.off:checked a {
  color: #979797;
}
.off:checked:hover {
  background-color: #979797;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  padding-top: 0;
  border: 3px solid #fff;
}
.off:checked:hover a {
  color: #fff;
}

.btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  padding: 3.5px 19px;
  height: 40px;
  border-radius: 60px;
  color: #fff;
  font-size: 24px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.orange {
  background-color: #FE975D;
}

.green {
  background-color: #1E9097;
}

.yello {
  background-color: #FFC738;
}