.select-member-button {
  position: relative;
}

.select-member select {
  width: 100%;
  font-weight: bold;
}

#checkboxes {
  color: black;
  position: sticky;
  top: 0;
  /* top:30px; */
  display: none;
  border: 1px #dadada solid;
  overflow: scroll;
  max-height: 230px;
  z-index: 1;
  span {
    font-size: 16px;
  }
}

#check-form {
  border-bottom: 1px #1e90ff solid;
  display: block;
  background-color: white;
  position: sticky;
  top: 0;
}

.select-work {
  background: white;
  &:hover {
    cursor: pointer;
    background-color: #1e90ff;
    color: white;
  }
}
