.join{
  &_container{
    margin: 26px 30px 0 30px;
    &:nth-child(-n+2) {
      margin-top: 0;
    }
    h1 {
      font-weight: normal;
    }
    &-work h1{
      color: #5CC09E;
    }
    &-member h1{
      color: #5D80FE;
    }
  }
  &_hedder {
    display: flex;
    justify-content: space-between;
  }
}

.join_form{
  background-color: #D2DAF6;
  padding: 30px;
  padding: 0 auto;
  border-radius: 20px;
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: calc(20% - 30px * 4 / 5);
    margin-right: 30px;
    margin-top: 20px;
    &:nth-child(5n) {
      margin-right: 0;
    }
    &:nth-child(-n+5) {
      margin-top: 0;
    }
  }
}

.button_collection .green {
  margin-left: 30px;
}
